<%- include("partials/header.ejs"); %>
<form action="api/forms/<%= id%>/answers" class="container card">
	<div class="header">
		<%= title%>
	</div>
	<div class="body">
		<%- html%>
	</div>
	<div class="footer">
		<input type="submit" name="" value="Send">
	</div>
</form>
<%- include("partials/footer.ejs"); %>
